@charset "UTF-8";
/* This is a comment! Text here will be ignored by the browser. */
body {
     font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
     background-color: #FFFFFF;
     margin: 0;
     padding: 0;
     color: #000;
}
a:link {
     color: #FA0081;
}

.homePage {
	background: #FAC4C8;
}
.container {
	width: 960px;
	margin: 0 auto;
}
.header {
	background: #DE737B;
	text-align: center;
	margin: 0px;
	padding: 5;
	float: center;
	width: 100%;
	height: 80px;
	
}
.nav {
	background: #BAD7FF;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 60px;
	text-align: left;
}
.content {
	background: #EEEEEE;
	margin: 0px;
	padding: 5px;
	float: left;
	width: 100%;
	text-align: left;
}
.footer {
	background: #93B1DB;
	margin: 0px;
	float: left;
	width: 100%;
	height: 50px;
	text-align: center;
}
